<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2023 Studio Raz. All rights reserved.
  ~ See LICENCE file for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SR_Base::srbase">
                    <resource id="SR_CustomerOtpAuth::srwhatsappwidget" title="WhatsApp Widget" translate="title" sortOrder="640">
                        <resource id="SR_WhatsAppChat::serttings" title="Settings" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>