<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <srwhatsappwidget>
            <general>
                <enable>0</enable>
                <phone_number />
                <custom_css><![CDATA[/* modify widget position, size, color as needed. */
#whatsapp-widget {
    position: fixed;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    z-index: 100;
    bottom: 50px;
    right: 50px;
}
#whatsapp-widget svg {
    width: 50px;
}
]]>
                </custom_css>
            </general>
        </srwhatsappwidget>
    </default>
</config>
