<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="srwhatsappwidget" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>WhatsApp Widget</label>
            <tab>studioraz</tab>
            <resource>SR_WhatsAppChat::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Widget</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="phone_number" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp Number</label>
                    <comment>Phone number with country code but without preceding plus(+) sign in format e.g. 9725xxxxxxxx</comment>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="custom_css" translate="label" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1" type="textarea" canRestore="1">
                    <label>Widget CSS</label>
                    <frontend_model>SR\Codemirror\Block\Adminhtml\System\Config\Form\Field\Css</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
